!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Fit Commit CI
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
  %body
    = render "application/app_nav"

    - flash.to_hash.slice("notice", "error").each do |key, value|
      .flash{ class: key }
        = value
    %main.content
      = yield
